/* You can add global styles to this file, and also import other style files */

/*@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";*/

#my-div .ngui-datetime-picker {
  background-color: blue;
}

table
{
    table-layout: fixed;
    width: 70px;
}
.tr-icon{
    width: 40px !important;
}